.center-middle {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
}

.title{
	font-size: 90px;
	margin-top: -50px;
	color: #F9687E;
}

.logo{
	max-height: 65px;
	max-width: 65px;

}

.red{
	color: #F9687E;
}

.iphone{
	max-height: 800px;
	max-width:400px;
}

.appstore{
	max-height: 175px;
	max-width: 300px;

}

.center{
	display: block;
    margin: 0 auto;
}
